*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-corporated: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
    --animation-fast: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-line {
    width: 100%;
    border-bottom: solid 1px var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    position: sticky;
    z-index: 1;
    top: 0px;
    left: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1158px;
    align-items: center;
    margin-left: 156px;

}

.flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.text-web {
    color: var(--color-iris);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 76px;
}

.text-studio {
    color: var(--color-corporated);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.team {
    border: 2px;
    gap: 24px;

}

.list,
.list-advantages {

    display: flex;
    flex-direction: row;
    list-style: none;
}

.list-advantages {
    gap: 24px;

}

.container-item {
    width: calc((100% - 72px) / 4);

}

.container-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cloud);
    border-radius: 4px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
}

.list-activities {
    list-style-type: none;
    display: flex;
    gap: 24px;

}

.works {
    width: calc((100% - 48px) / 3);
}

.list-menu>a {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    padding: 24px 0px;
    transition-property: color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.list-menu:nth-child(-n + 2) {
    margin-right: 40px;
}

.list-menu>a:hover,
.list-menu>a:focus {
    color: var(--color-ocean);
}

.list-menu a.line {
    color: var(--color-ocean);
}

.line {
    position: relative;
}

.line::after {
    position: absolute;
    content: "";
    bottom: 0px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-ocean);
    border-radius: 2px;

}

.address {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    transition-property: color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);

}

.address:hover,
.address:focus {
    color: var(--color-ocean);
}

.section {
    padding-bottom: 120px;
}

.hero-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-corporated);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    height: 600px;
    width: 100%;
    padding: 188px 0;

}

.text-header {

    font-family: var(--primary-font);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button-order {
    border: none;
    background-color: var(--color-iris);
    color: var(--color-white);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-property: background-color, color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.button-order:hover,
.button-order:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);

}

.first {
    padding: 120px 0;

}

.second-header {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.third-header {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.icon-advantages {
    flex: content;
    background-color: var(--color-cloud);
    border-radius: 4px;
}

.text-item {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.team-section {
    background-color: var(--color-cloud);
    padding-top: 120px;
}

.socials {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 24px;

}

.socials-link,
.socials-link-footer {
    width: 40px;
    height: 40px;
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--color-ocean);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
    background-color: var(--color-green);
}

.icons {
    fill: var(--color-cloud);
}

.section-customers {
    padding: 120px 0;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customers-item {
    width: calc((100%-120px)/6);
    height: 88px;
}

.customers-item-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    color: var(--color-light-slate);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: border-color, color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.customers-icon {
    fill: currentColor;
    transition-property: color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.customers-icon:hover,
.customers-icon:focus,
.customers-item-link:hover,
.customers-item-link:focus {
    color: var(--color-ocean);
    border-color: var(--color-ocean);
}

.footer {
    height: 312px;
    background-color: var(--color-corporated);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: stretch;
    gap: 120px;
}


.footer-social {
    font-family: var(--primary-font);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 16px;
}

.footer-social-media {
    gap: 16px;
}

.text-web-footer {
    display: inline-block;
    color: var(--color-iris);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.text-studio-footer {
    color: var(--color-white);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.text-footer {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-cloud);
    width: 264px;
}

.footer-container-subescribe {
    margin: 0;
}

.subscribe {
    font-family: var(--primary-font);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 16px;
}

.footer-subscribe {
    display: flex;
    margin: 0;
}

input::placeholder {
    color: var(--color-white);
    opacity: 1;
}

.button-subscribe {
    width: 165px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background: var(--color-iris);
    border-radius: 4px;
    border: none;
    margin-left: 24px;
    gap: 16px;
    cursor: pointer;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    transition-property: background-color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: var(--color-ocean);
}

.icon-button {
    fill: currentColor;

}

.input-footer {
    font-family: var(--primary-font);
    font-size: 12px;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    padding-left: 16px;
    background-color: var(--color-corporated);
    color: var(--color-white);
    border: 1px solid white;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop:active,
.modal:active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.modal {
    padding: 72px 24px 24px 24px;

    width: 408px;
    height: 576px;
    background-color: var(--color-white);
    border-radius: 4px;
    position: absolute;

}

.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 24px;
    top: 24px;
    z-index: 2;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-cornflower);
    cursor: pointer;
    border: 1px rgba(0, 0, 0, 0.1);
    fill: currentColor;
    transition-property: color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.close:hover,
.close:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);
}

.close-btn {
    position: relative;
}

/* portfolio */


.list-filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;


}

.button-filters {
    background-color: var(--color-cloud);
    color: var(--color-iris);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    cursor: pointer;
    transition-property: background-color, color, box-shadow, border;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.button-filters:hover,
.button-filters:focus {
    border: 1px solid transparent;
    background-color: var(--color-ocean);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-filters:active {
    background-color: var(--color-ocean);
    color: var(--color-white);
}

img {
    display: block;
}

.projects {
    padding-top: 96px;
    padding-bottom: 120px;
}

.list-elements {
    width: 1128px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.link-elements {
    display: block;
    transition-property: box-shadow;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.link-elements:hover,
.link-elements:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.element-lists {
    width: calc((100% - 48px) / 3);
}

.element {
    border: solid 1px var(--color-cornflower);
    border-top: none;
    padding: 32px 16px;
}

.member-team {
    background-color: var(--color-white);
    padding: 32px 0;

}

.card-team {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 24px*3) / 4);

}

.name,
.specialty {
    text-align: center;
}

.box {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    transform: translatey(100%);
    transition: transform var(--animation-fast);
    transition-duration: var(--duration);
}

.link-elements:hover .overlay,
.link-elements:focus .overlay {
    transform: translate(0);
}

.box:hover .overlay {
    transform: translate(0);
}

.overlay p {
    color: var(--color-cloud);
    padding: 40px 32px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;

}

.modal-desc {
    width: 360px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-corporated);
    margin-bottom: 16px;

}


.modal-desc-bottom {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-align: left;

}

.signup_form {
    display: block;

}

.button-submit {
    margin-top: 24px;
}

.name {
    position: relative;
    margin-bottom: 8px;
    display: block;
    justify-content: left;
}

.input {
    padding: 6px 9px 6px 40px;
    font-family: inherit;
    border-radius: 4px;
    height: 40px;
    outline: 1px solid var(--color-light-slate);
    border: 1px solid transparent;
    width: 360px;
    height: 40px;

}

.modal-form-icon {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 16px;
    color: var(--color-corporated);
    fill: currentColor;
    transition: fill var(--animation-fast);
}

.input:focus+.modal-form-icon {
    fill: var(--color-iris);
    outline-color: var(--color-iris);
}

.input:focus {
    outline-color: var(--color-iris);
}


.textarea {
    width: 360px;
    padding: 8px 8px 8px 16px;
    font-family: inherit;
    border-radius: 4px;
    resize: none;
    outline: 1px solid var(--color-light-slate);
    border: 1px solid transparent;
    transition-property: border-color;
    transition-timing-function: var(--animation-fast);
    transition-duration: var(--duration);
}

.textarea:focus {
    outline-color: var(--color-iris);
}

.textarea::placeholder {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: #2E2F4266;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
}

span>a {
    color: var(--color-iris);
}

label {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--color-light-slate);
    margin-bottom: 4px;

}

.modal-form-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-right: 10px;
    border: 2px solid var(--color-light-slate);
    border-radius: 4px;
}


.visual:focus-visible+.modal-form-checkbox {
    border: 1px solid var(--color-iris);
}



.icon-checkbox {
    display: block;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.visual:checked+.modal-form-checkbox {
    background-color: var(--color-ocean);
    border: 1px solid var(--color-ocean);
}

.visual:checked+.modal-form-checkbox .icon-checkbox {
    opacity: 1;
    fill: var(--color-white);
}

.label-checkbox {
    display: block;
    margin-bottom: 0;
}

.accept {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}